services:
  - type: web
    name: ml-pipeline-backend
    env: python
    region: oregon
    plan: free
    rootDir: .  # raiz do repositório, pois main.py está na raiz
    branch: main  # se você usa a branch main no GitHub
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: TF_CPP_MIN_LOG_LEVEL
        value: "2"
      - key: CUDA_VISIBLE_DEVICES
        value: "-1"
      - key: DATABASE_URL
        value: "postgresql://neondb_owner:npg_E5etwTVau2JK@ep-rough-forest-aeg674mp-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require"
